# Project: [[ PROJECT_SLUG ]]
# Version (Docker): 0.1
# Services: app, nginx, postgres
# App Mode: all non-local

# Docker-Compose Ref: https://docs.docker.com/compose/compose-file/compose-file-v3/

# @TODO
# To be able to run different deployment environments on the same Docker host, Docker objects names must be different
# => must use `$APP_MODE` in their name. This must be applied on Volumes and Networks. Services should be fine.

# Required environment variables:
# - `APP_VERSION`: The version of the app to be installed.
# - `APP_MODE`: The target deployment environment (will be used for `DJANGO_ENV`).

# Naming conventions:
# - Images: `[<ORGANIZATION_SLUG>/]<PROJECT_SLUG>-<SERVICE_SLUG>:<DOCKER_VERSION>`
# - Containers: `<PROJECT_SLUG>-<SERVICE_SLUG>`
# - Volumes: `<PROJECT_SLUG>-<SERVICE_SLUG>-<VOLUME_SLUG>` or, if not mainly related to a service, `<PROJECT_SLUG>-<SERVICE_SLUG>`
# - Networks: `<PROJECT_SLUG>-<NETWORK_SLUG>`
# - For the `app` service, we include the app version:
#   - Images: `[<ORGANIZATION_SLUG>/]<PROJECT_SLUG>-<SERVICE_SLUG>-<APP_VERSION>:<DOCKER_VERSION>`
#   - Containers: `<PROJECT_SLUG>-<SERVICE_SLUG>-<APP_VERSION>`


version: "3.8"  # Requires Docker Engine 19.03.0+.


# VOLUMES ==========================================================================================

volumes:

  # Store static files (media, js, css…).
  # Used by: app, nginx.
  app-static:
    name: [[ PROJECT_SLUG ]]-app-static

  # Store users uploaded files.
  # Used by: app, nginx.
  app-files:
    name: [[ PROJECT_SLUG ]]-app-files

  # Store databases files.
  # Used by: postgres.
  postgres-data:
    name: [[ PROJECT_SLUG ]]-postgres-data

  # @TODO Central location to store backup files (generated by each service).
  # Used by: all services.
  # backups:
  #   name: [[ PROJECT_SLUG ]]-backups

  # @TODO Files generated by the '<SERVICE_SLUG>' service while operating.
  # Used by: <SERVICE_SLUG>.
  # <SERVICE_SLUG>-runtime:
  #   name: [[ PROJECT_SLUG ]]-<SERVICE_SLUG>-runtime


# NETWORKS =========================================================================================

networks:

  # For external-facing services.
  # Used by: nginx.
  external:
    name: [[ PROJECT_SLUG ]]-external
    external: true

  # For internal services.
  # Used by: app, nginx, postgres.
  internal:
    name: [[ PROJECT_SLUG ]]-internal


# SERVICES =========================================================================================

services:

  # SERVICE: APP -----------------------------------------------------------------------------------
  # The main application.
  app:
    container_name: [[ PROJECT_SLUG ]]-app
    # restart: always

    # If this image does not exist, it will execute the `build` process.
    image: [[ PROJECT_SLUG ]]-app-${APP_VERSION}:0.1

    # Configuration options that are applied at build time.
    build:
      context: ./app  # Path to the build context. See the `Dockerfile` there.
      args:  # Environment variables for the build time.
        - APP_MODE=${APP_MODE}

    # Environment variables for run time.
    # /!\ These are not available during build time, see `build › args`.
    env_file:
      - ../.envs/.env.app
      - ../.envs/.env.postgres
    environment:
      - APP_MODE=${APP_MODE}
      # Define the host and port as defined here for the `postgres` service.
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=

    # Dependencies between services (=> services are automatically started in dependency order).
    # Note: Container for the linked service will be reachable at a hostname identical to the alias (or service name).
    # /!\ Compose will not wait until a container is "ready", only until it's running.
    # See: https://docs.docker.com/compose/startup-order/
    depends_on:
      - postgres

    # Mount host paths or named volumes.
    volumes:
      - app-static:/app/var/static:z
      - app-files:/app/var/files:z

    # Networks to join.
    networks:
      - internal


  # SERVICE: NGINX ---------------------------------------------------------------------------------
  # Web server, serving the application, static files, and users uploaded files.
  nginx:
    container_name: [[ PROJECT_SLUG ]]-nginx
    # restart: always

    # If this image does not exist, it will execute the `build` process.
    image: [[ PROJECT_SLUG ]]-nginx:0.1

    # Configuration options that are applied at build time.
    build:
      context: ./nginx  # Path to the build context. See the `Dockerfile` there.

    # Expose ports `"HOST:CONTAINER"`.
    # Best practice: Always explicitly specifying your port mappings as strings.
    ports:
      - "80:80"
      - "443:443"

    # Dependencies between services (=> services are automatically started in dependency order).
    # Note: Container for the linked service will be reachable at a hostname identical to the alias (or service name).
    # /!\ Compose will not wait until a container is "ready", only until it's running.
    # See: https://docs.docker.com/compose/startup-order/
    depends_on:
      - app

    # Mount host paths or named volumes.
    volumes:
      - app-static:/mnt/app/static:z
      - app-files:/mnt/app/files:z

    # Networks to join.
    networks:
      - external
      - internal

    # Uncomment the following to run nginx in debug mode.
    # command: [nginx-debug, "-g", "daemon off;"]


  # SERVICE: POSTGRES ------------------------------------------------------------------------------
  postgres:
    container_name: [[ PROJECT_SLUG ]]-postgres
    # restart: always

    # If this image does not exist, it will execute the `build` process.
    image: [[ PROJECT_SLUG ]]-postgres:0.1

    # Configuration options that are applied at build time.
    build:
      context: ./postgres  # Path to the build context. See the `Dockerfile` there.

    # Environment variables for run time.
    # /!\ These are not available during build time, see `build › args`.
    env_file:
      - ../.envs/.env.postgres

    # Mount host paths or named volumes.
    volumes:
      - postgres-data:/var/lib/postgresql/data:Z

    # Networks to join.
    networks:
      - internal
