{% extends "errors/base.html" %}
{% load i18n %}

{% block head_title %}{% spaceless %}
  {{ block.super }} | {% trans "Forbidden (403)" context "error heading" %}
{% endspaceless %}{% endblock head_title %}

{% block body_class %}{{ block.super }} vw-error-403{% endblock body_class %}

{% block content %}
  <h1>{% trans "Forbidden (403)" context "error heading" %}</h1>
  <p>
    {% blocktrans context "error message" trimmed %}
      The request was a valid request, but the server is refusing to respond to it.
    {% endblocktrans %}
  </p>
{% endblock content %}
